
.placelist-heading {
  text-align: center;
  padding:1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.placelist-heading h1 {
  font-size: 2rem;
  color: var(--darkgreen);
  font-family: var(--headfont);
  margin: 0;
}
.places-lists {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, 280px);
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.places-list-cards {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.places-list-cards > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.location {
  position: absolute;
  left: 3%;
  bottom: 20%;
  color: white;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 5px;
  text-shadow: 1px 1px 2px #000;
}

h2 {
  font-family: var(--headfont);
  font-size: 1.14rem;
  margin: auto;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .places-lists {
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(180px, 280px);
  }
  .location {
    font-size: 0.75rem;
  }
}

@media (max-width: 540px) {
  .places-lists {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(180px, 250px);
  }
  .placelist-heading h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 0.88rem;
  }

  .location {
    font-size: 0.7rem;
    bottom: 20%;
  }
}


