
.placelist-heading {
  text-align: center;
  padding:1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.placelist-heading h1 {
  font-size: 2rem;
  color: var(--darkgreen);
  font-family: var(--headfont);
  margin: 0;
}
.places-lists {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: minmax(250px, 350px);

  gap: 1rem;
}

.places-lists a {
  text-decoration: none;
  color: inherit;
}
.places-list-cards {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.2s;
}

.places-list-cards > img {
  height: 75%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.placelist-description{
  padding: 0.5rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.places-lists  .location {
  position: absolute;
  left: 3%;
  bottom: 25%;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  text-shadow: 1px 1px 2px #000;
}

.places-lists h3 {
  font-size: clamp(1.38rem, 1.6vw, 1.8rem); /* responsive scaling */
  font-weight: 600;
  margin: 0;

}
.places-lists p.rating {
  font-size: clamp(0.89rem, 1.2vw, 1.4rem);
  font-weight: 500;
  margin: 0;
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 6px; /* space between text and icon */
}
.places-lists p.rating svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
.places-lists {
    grid-auto-rows: minmax(180px, 350px);
  }
  .place-list .location {
    font-size: 0.75rem;
  }

}

@media (max-width: 540px) {
  .places-lists {
    grid-auto-rows: minmax(180px, 300px);
  }
  .placelist-heading h1 {
    font-size: 1.3rem;
  }
    .placelist-description{
    margin-top: 5px;
    font-style: bold;
  }
 .places-lists h3 {
    font-size: 1rem;
  }
  .places-lists p.rating {
    font-size: 0.85rem;
  }
  .places-lists p.rating svg {
    width: 16px;
    height: 16px;
  }
  .places-lists .location {
    font-size: 0.7rem;
  }

}




